%div.form.well
  %div.form-group
    %h4 Due:
    %div= @todo.due
  %div.form-group
    %h4 Task:
    %div= @todo.task
  %div.form-group
    %h4 User:
    %div= @todo.user.name
  %div.form-group
    %h4 Memo:
    %div= new_line_br(@todo.memo)
