%nav.navbar.navbar-default
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{'aria-expanded': 'false', 'data-target': '#bs-example-navbar-collapse-1', 'data-toggle': 'collapse', :type => 'button'}
      %a.navbar-brand{:href => '#'} LOGO
    / Collect the nav links, forms, and other content for toggling
    - unless session[:login].nil?
      .collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to 'Logout', login_path(1), :method => :delete
